.add-menu-title{
    text-align: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

.weekly-menu{
    padding: 36px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-ctn{
    width:40vw ;
    margin: 0 auto;
    margin-bottom: 26px;
}



.edit-menu p{
    text-align: center;
}

.edit-menu p:not(.edit-menu form p){
    color:  red;
    text-decoration: underline;
    font-weight: bold;
}

.edit-menu form p{
    font-weight: bold;
    margin-bottom: 6px;
}

.edit-menu select{
    width: 100%;
}

.success p{
    text-align: center;
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

.success div{
    margin-bottom: 8px;
}

.success div:first-of-type{
    text-align: center;
}



@media(max-width: 1000px){
    .weekly-menu{
        flex-direction: column;
    }

    .menu-ctn{
        width: 80%;
    }
}