.add-menu-title{
    text-align: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

.weekly-menu{
    padding: 36px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-ctn{
    width:40vw ;
    margin: 0 auto;
    margin-bottom: 26px;
}

h3{
    text-align: center;
    margin-bottom: 16px;
}

.edit-menu p{
    text-align: center;
}

.edit-menu p:not(.edit-menu form p){
    color:  red;
    text-decoration: underline;
    font-weight: bold;
}

.edit-menu .exist-menu p{
    font-weight: bold;
    margin-bottom: 6px;
}

.edit-menu select{
    width: 100%;
}

.success{
    background-color: var(--clr-primary);
    position: absolute;
    left: 30%;
    z-index: 10;
    text-align: center;
}

#add-edit-form-sec{
    position: relative;
    z-index: 1;
}

.success p{
    text-align: center;
    color: green;
    font-weight: bold;
    text-decoration: underline;
}

.success button{
    border: 1px solid black;
}

.success div{
    margin-bottom: 8px;
}

.success div:first-of-type{
    text-align: center;
}


@media(max-width: 1000px){
    .weekly-menu{
        flex-direction: column;
    }

    .menu-ctn{
        width: 80%;
    }
}