body#e-kitchen {
  background-image: url(../images/backgrounds/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

#welcome{
    text-align: center;
    margin-top: 25px;
    font-weight: bold;
}

.e-kitchen{
    height: 100%;
    opacity: 0.8;
    margin-top: 25px;
}

.e-kitchen .main-btn.show{
  display: none;
  width: 150px;
  
}

.instructions {
    margin: 0 auto;
    width: 80vw;
    text-align: justify;
    background-color: var(--clr-primary);
    padding: 16px;
    border-radius: 12px;
}

#instructions{
    display: none;
}

.instr-ctn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

button.close{
    margin: 0;
}


.feachers{
   margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    padding: 16px;
    width: 80vw;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideInRight {
    0% {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      visibility: visible;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  

.feachers form{
    width: 50%;
}

.feachers form h5{
    text-align: center;
}



