.index-main{
    padding: 26px;
    position: relative;
}

section.title{
    text-align: center;
    margin-bottom: 12px;
    padding: 16px;
}


.title .bigtitle{
    font-size: 32px;
    font-weight: bold;
}

.title .subtitle{
    font-size: 24px;
    font-style: italic;
}

.carousel{
    width: 80vw;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

.carousel-item{
    max-height: 450px;
    overflow: hidden;
}

.carousel-item img.d-block{
    max-height: 100%;
    max-width: 100%;
    /*object-fit: fill;*/
    object-fit: cover;
    aspect-ratio: 16/9;
}



@media(max-width:788px){
    .title .bigtitle{
        font-size: 1.5rem;
    }

    .title .subtitle{
        font-size: 1.2rem;
    }

}

@media(max-width:650px){
    section.title{
        z-index: -1;
    }

    .title .bigtitle{
        font-size: 1.1rem;
    }

    .title .subtitle{
        font-size: 1.1rem;
    }
}


@media(max-height:450px){
    .title .bigtitle{
        font-size: 1rem;
    }

    .title .subtitle{
        font-size: 1rem;
    }
}

@media(max-width:380px){

    section.title {
        font-size: 1rem;
    }
    .title .bigtitle{
        font-size: 1rem;
    }

    .title .subtitle{
        font-size: 1rem;
    }
}