.add-menu-title{
    text-align: center;
    margin-bottom: 26px;
    margin-top: 26px;
}

.weekly-menu{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.menu-ctn, .check-list{
    margin-bottom: 26px;
    
}

.menu-ctn p, .check-list p{
    font-weight: bold;
    text-align: center;
}

.check-list #status{
    color: green;
}

@media(max-width: 820px){
    .weekly-menu{
        flex-direction: column;
        align-items: center;
    }

    .menu-ctn, .check-list{
       width: 60%;
    }
}