
.contact-info{
    margin:  0 auto;
    width: 90vw;
    text-align: center;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.address{
    margin: 0 auto;
    width: 60%;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    
}

.mapouter{
    border-radius: 20px;
    overflow: hidden;
}

.contacts-title{
    font-weight: bold;
}

.contact-form{
    display: flex;
    flex-direction: column;

    -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
  @-webkit-keyframes flipInX {
  0% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
  }
  @keyframes flipInX {
  0% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  opacity: 0;
  }
  40% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  }
  60% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  opacity: 1;
  }
  80% {
  -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  100% {
  -webkit-transform: perspective(400px);
  transform: perspective(400px);
  }
}

.contact-form h4{
    font-size: 1.25rem;
    margin-bottom: 15px;
    font-weight: normal;
}

.contact-form input{
    width: 100%;
    border-radius: 20px;
    border: none;
    margin-bottom: 15px;
}

.contact-form textarea{
    width: 100%;
    margin-bottom: 15px;
}



@media(max-width:710px){
    .contact-info {
      flex-direction: column;
    }

    .address{
        width: 80%;
    }
}

@media(max-width:650px){
    .address {
      z-index: -1;
    }
}

@media(max-height:450px){
    .contact-info{
        flex-direction: column;
    }

    .address address{
        font-size: 1.25rem;
    }

    .telefones p{
        font-size: 1.25rem;
    }
    
    .contact-form{
        font-size: 1.25rem;
    }
  }
