body.menu-body{
    background-image: url(../Resources/Pic/pngtree-children-s-education-web-design-theme-banner-image_129645.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
}

.menu-info{
    margin: 26px auto;
    width: 60%;
    border-radius: 50px;
    text-align: center;
    padding: 16px;
    line-height: 2;

    background: linear-gradient(
        50deg,
        rgba(255, 255, 255, 0.4) 12%,
        rgba(255, 255, 255, 0.1) 77%
      );
      background-blend-mode: darken;
      box-shadow: 0px 4px 24px 1px rgba(0, 0, 0, 0.28);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
}

.menu-main{
    display: flex;
    justify-content: center;
    gap:50px
}
.kids {
    width: 45%;
    -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInDown {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}

.kids h3{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 12px;
}

.kids ul{
  width: 45vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
}

.kids ul li{
    margin-bottom: 25px;
    font-weight: 550;
}

.kids .date {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
  text-decoration: underline;
  color: red;
}

.allergens{
    font-style: italic;
    font-size: 0.85rem;
    font-weight: normal;
}


@media(max-height:450px){
    *{
        font-size: 1rem;
    }
}

@media(max-width:450px){
    .menu-main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .kids{
        width: 90%;    
   }

    .kids ul{
        width: 100%;
        margin-bottom: 20px;
    }
}