<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<body>
<header th:fragment="e-nav">
  <nav class="navigation">
    <ul class="nav-items" role="list">
      <li class="nav-item"><a th:href="@{/}">Начало</a></li>
      <li class="nav-item"><a th:href="@{/about-us}">За нас</a></li>
      <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/e-kitchen}">Е-кухня</a></li>
      <li class="nav-item"><a th:href="@{/menus}">Седмично меню</a></li>
      <li class="nav-item"><a th:href="@{/contacts}">Контакти</a></li>
      <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Администратор</a></li>
      <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/users/profile}">Профил</a></li>
      <li class="nav-item" sec:authorize="isAuthenticated()"><a th:href="@{/users/logout}">Изход</a></li>
    </ul>
  </nav>

  <div class="responsive-wrapper">
    <button id="nav-btn" onclick="toggle()">
      <i class="fa-solid fa-bars"></i>
    </button>

    <nav class="nav-ctn" style="display: none">
      <h4>Детска кухня</h4>
      <ul class="nav-items-resp" role="list">
        <li class="nav-item-resp"><a th:href="@{/}">Начало</a></li>
        <li class="nav-item-resp"><a th:href="@{/about-us}">За нас</a></li>
        <li class="nav-item-resp">
          <a th:href="@{/e-kitchen}" sec:authorize="isAuthenticated()">Е-кухня</a>
        </li>
        <li class="nav-item-resp">
          <a th:href="@{/menus}">Седмично меню</a>
        </li>
        <li class="nav-item-resp">
          <a th:href="@{/contacts}">Контакти</a>
        </li>
        <li class="nav-item-resp" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/admin}">Администратор</a></li>
        <li class="nav-item-resp" sec:authorize="isAuthenticated()"><a th:href="@{/users/profile}">Профил</a></li>
        <li class="nav-item-resp" sec:authorize="isAuthenticated()"><a th:href="@{/users/logout}">Изход</a></li>
      </ul>
    </nav>
  </div>
</header>


</body>
</html>