<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/main-nav::clean-head">
</head>

<script th:src="@{/js/loadPoints.js}"></script>

  <body onload='loadPoints()'>
    <header th:replace="~{fragments/main-nav::main-nav}">
    </header>

    <main>
      <div class="content shadow-ctn">
        <p class="main-info">
          Детска кухня е организационно обособена структура, под егидата на
          Община Плевен, в която се приготвя и предоставя храна за деца от 10м
          до 3-годишна възраст. Към кухнята функционират 12 пункта, предоставящи
          храна на децата от неорганизирания контингент (деца, които се
          отглеждат в домашни условия), както и 7 детски ясли за организиран
          контингент деца, на територията на целия град. Кухнята изхранва
          следните ясли на територията на града: ДЯ Мир, ДЯ Дружба, ДЯ Щастливо
          детство, ДЯ Чайка, ДЯ Патинка, ДЯ Гергана, ДЯ Асен Халачев.
          <br />
          За да започнете да получавате храна за вашето дете е необходимо да
          представите:
          <br />
          - Удостоверение за раждане
          <br />
          - Медицинска бележка от лекаря на вашето дете, в която да се посочва,
          че детето е клинично здраво и може да се храни от ДК.
          <br />
          Храната за децата от неорганизирания контингент включва:
          <br />
          - Супа – 100гр
          <br />
          - Основно ястие – 130гр.
          <br />
          - Десерт – 150гр.
          <br />
          И представлява едно Обедно меню. Заявките за храна стават 2 дни
          предварително, като цената на един купон е 0.80ст. и включва едно
          обедно меню. Цената на цяла абонаментна карта, включваща 20 купона, е
          на цена 16лв.
          <br />
          За да станете клиент на Детска кухня е необходимо да бъдете жители на
          община Плевен.
          <br />
          В случай, че живеете извън града или сте жители на малко населено
          място в Общината, а желаете да получавате храна, е необходимо да
          посещавате някой от пунктовете в града.
        </p>
      </div>

      <div class="points-container">
        <h3>Пунктове и график за раздаване на храна</h3>

        <ul role="list" class="points-list" id="points-list">

        </ul>
      </div>
    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
  </body>
</html>
