<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h3 class="add-menu-title">Добави или редактирай меню</h3>

      <section class="weekly-menu">
        <div class="menu-ctn shadow-ctn">
          <form action="">
            <label for="date">Избери дата</label>
            <input type="date" />

            <label for="ageGroup">Избери възрастова група</label>
            <select name="ageGroup" id="ageGroup">
              <option value="littleKids" selected>10 МЕСЕЦА - 1 ГОДИНА</option>
              <option value="bigKids">1 ГОДИНА - 3 ГОДИНИ</option>
            </select>

            <label for="first-food"> Избери супа </label>
            <select name="firstFood" id="first-food">
              <option value="">СУПА ОТ ПУЕШКО МЕСО</option>
              <option value="">СУПА ОТ КАРТОФИ И МОРКОВИ</option>
              <option value="">СУПА ОТ ТИКВИЧККИ СЪС ЗАСТРОЙКА</option>
              <option value="">СУПА ОТ ДОМАТИ С КАРТОФИ</option>
              <option value="">СУПА ОТ ЗЕЛЕН ФАСУЛ СЪС ЗАСТРОЙКА</option>
              <option value="">СУПА ОТ РИБА И ЗЕЛЕНЧУЦИ</option>
              <option value="">СУПА ОТ ДОМАТИ С КАРТОФИ</option>
            </select>

            <label for="main-food"> Избери основно </label>
            <select name="mainFood" id="main-food">
              <option value="">ТИКВИЧКИ С ОРИЗ</option>
              <option value="">РИБА НА ПАРА; ПЮРЕ ОТ ЛЕЩА</option>
              <option value="">КЮФТЕ С БЯЛ СОС</option>
              <option value="">ПУЕШКО МЕСО С ГРАХ</option>
              <option value="">ПИЛЕШКО МЕСО С КАРТОФИ</option>
              <option value="">ЛЕЩА СЪС ЗЕЛЕНЧУЦИ</option>
              <option value="">КУС-КУС СЪС ЗАЕШКО МЕСО И ЗЕЛЕНЧУЦИ</option>
            </select>

            <label for="dessert-food"> Избери десерт </label>
            <select name="dessertFood" id="dessert-food">
              <option value="">МЛЕЧЕН МУС ОТ НЕКТАРИНИ</option>
              <option value="">КУС-КУС С МЛЯКО И ЯЙЦА</option>
              <option value="">КРЕМ КАКАО</option>
              <option value="">ПШЕНИЦА С МЛЯКО</option>
              <option value="">МЛЕЧЕН КИСЕЛ ОТ ПЪПЕШ</option>
              <option value="">ОРИЗ С ПЪПЕШ</option>
              <option value="">КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</option>
            </select>

            <button class="main-btn">Добави</button>
          </form>
        </div>
      </section>

      <section class="preview">
        <div class="check-list shadow-ctn" id="little-group">
          <h4>Възрастова група: <span id="group">10месеца - 1 година</span></h4>
          <ul role="list" id="added-weekly-menus">
            <li id="daily">
              <div id="daily-menu-ctn">
                <p>Меню за
                  <span id="added-date">28.08.2023</span>
                  <button class="edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </p>
                <ul role="list" id="daily-menu">
                  <li>
                    Супа: <span id="daily-soup">СУПА ОТ ПУЕШКО МЕСО</span>
                  </li>
                  <li>Основно: <span id="daily-main">КЮФТЕ С БЯЛ СОС</span></li>
                  <li>
                    Десерт:
                    <span id="daily-dessert"
                    >КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span
                    >
                  </li>
                </ul>

              </div>
            </li>

            <li id="daily">
              <div id="daily-menu-ctn">
                <p>Меню за
                  <span id="added-date">28.08.2023</span>
                  <button class="edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </p>
                <ul role="list" id="daily-menu">
                  <li>
                    Супа: <span id="daily-soup">СУПА ОТ ПУЕШКО МЕСО</span>
                  </li>
                  <li>Основно: <span id="daily-main">КЮФТЕ С БЯЛ СОС</span></li>
                  <li>
                    Десерт:
                    <span id="daily-dessert"
                    >КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span
                    >
                  </li>
                </ul>

              </div>
            </li>

            <li id="daily">
              <div id="daily-menu-ctn">
                <p>Меню за
                  <span id="added-date">28.08.2023</span>
                  <button class="edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </p>
                <ul role="list" id="daily-menu">
                  <li>
                    Супа: <span id="daily-soup">СУПА ОТ ПУЕШКО МЕСО</span>
                  </li>
                  <li>Основно: <span id="daily-main">КЮФТЕ С БЯЛ СОС</span></li>
                  <li>
                    Десерт:
                    <span id="daily-dessert"
                    >КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span
                    >
                  </li>
                </ul>

              </div>
            </li>
          </ul>

          <button class="save-btn">Запази</button>
        </div>

        <div class="check-list shadow-ctn" id="big-group">
          <h4>Възрастова група: <span id="group">1 година - 3 години</span></h4>
          <ul role="list" id="added-weekly-menus">
            <li id="daily">
              <div id="daily-menu-ctn">
                <p>Меню за
                  <span id="added-date">28.08.2023</span>
                  <button class="edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </p>
                <ul role="list" id="daily-menu">
                  <li>
                    Супа: <span id="daily-soup">СУПА ОТ ПУЕШКО МЕСО</span>
                  </li>
                  <li>Основно: <span id="daily-main">КЮФТЕ С БЯЛ СОС</span></li>
                  <li>
                    Десерт:
                    <span id="daily-dessert"
                    >КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span
                    >
                  </li>
                </ul>

              </div>
            </li>

            <li id="daily">
              <div id="daily-menu-ctn">
                <p>Меню за
                  <span id="added-date">28.08.2023</span>
                  <button class="edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </p>
                <ul role="list" id="daily-menu">
                  <li>
                    Супа: <span id="daily-soup">СУПА ОТ ПУЕШКО МЕСО</span>
                  </li>
                  <li>Основно: <span id="daily-main">КЮФТЕ С БЯЛ СОС</span></li>
                  <li>
                    Десерт:
                    <span id="daily-dessert"
                    >КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span
                    >
                  </li>
                </ul>

              </div>
            </li>

            <li id="daily">
              <div id="daily-menu-ctn">
                <p>Меню за
                  <span id="added-date">28.08.2023</span>
                  <button class="edit">
                    <i class="fa-regular fa-pen-to-square"></i>
                  </button>
                </p>
                <ul role="list" id="daily-menu">
                  <li>
                    Супа: <span id="daily-soup">СУПА ОТ ПУЕШКО МЕСО</span>
                  </li>
                  <li>Основно: <span id="daily-main">КЮФТЕ С БЯЛ СОС</span></li>
                  <li>
                    Десерт:
                    <span id="daily-dessert"
                    >КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span
                    >
                  </li>
                </ul>

              </div>
            </li>
          </ul>

          <button class="save-btn">Запази</button>
        </div>
      </section>

    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
  </body>
</html>
