<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h3 class="order-title">Добави или изтрий заявка</h3>

      <div class="search-applicant shadow-ctn">
          <label>Въведете потребителски e-mail: </label>
          <input type="text" id="add-applicant-name" name="addApplicantName" placeholder="Въведете част или целия email"/>
          <button class="main-btn" type="submit" onclick='searchUser()'>Търси</button>
      </div>

      <section class="orders">

        <div class="add-order-ctn order shadow-ctn">

          <h3>Добави заявка</h3>

          <form th:action="@{/admin/add-delete-order}" th:method="POST" th:object="${addOrderBindingModel}">

            <label for="add-applicant-name">Име на заявител</label>
            <select name="userEmail" id="user-result" onchange="populateFields()" th:field="*{userEmail}">
              <option value=""></option>
            </select>
            <div th:if="${#fields.hasErrors('userEmail')}" class="error">Няма избран потребител! </div>

            <label for="add-order-date">Избери дата</label>
            <input type="date" id="add-order-date" th:field="*{date}"/>
            <div th:if="${#fields.hasErrors('date')}" class="error">Не сте въвели дата или сте въвели минала такава! </div>

            <label for="add-applicant-child"> Избери дете </label>
            <select name="applicant-child" id="add-applicant-child" th:field="*{childFullName}">

            </select>
            <div th:if="${#fields.hasErrors('childFullName')}" class="error">Няма избрано дете! </div>


            <label for="add-order-point">Избери пункт: </label>
            <select name="order-point" id="add-order-point" th:field="*{servicePoint}">
              <option value="Детска кухня" >Детска кухня</option>
              <option value="9-ти квартал">9-ти квартал</option>
              <option value="ДГ Теменуга">ДГ Теменуга</option>
              <option value="ДГ Трети март">ДГ Трети март</option>
              <option value="ДГ Дружба">ДГ Дружба</option>
              <option value="ДГ Славейче">ДГ Славейче</option>
              <option value="ДГ Незабравка">ДГ Незабравка</option>
              <option value="ДГ Калина">ДГ Калина</option>
              <option value="ДЯ Чайка">ДЯ Чайка</option>
              <option value="ДЯ Латинка">ДЯ Латинка</option>
              <option value="ДЯ Дружба">ДЯ Дружба</option>
              <option value="ДЯ Мир">ДЯ Мир</option>
            </select>

            <button class="main-btn">Добави</button>
          </form>

        </div>

        <div class="delete-order-ctn order shadow-ctn">

            <h3>Изтрий заявка</h3>

          <form th:action="@{/admin/add-delete-order}" th:method="DELETE">
            <label for="delete-order-date">Избери дата</label>
            <select name="deleteOrderDate" id="delete-order-date">

            </select>

            <label for="delete-applicant-child"> Избери дете </label>
            <select name="childName" id="delete-applicant-child" onchange="populateOrders()" >

            </select>

            <button class="main-btn">Изтрий</button>
          </form>
        </div>
      </section>
    </main>

    <!-- Modal -->
    <div th:if="${successAdded} != null" class="custom-modal">
      <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel2">
              Успешно направихте заявка!
            </h1>
            <button
                    type="button"
                    class="btn-close"
                    onclick=" closeModal()"
            >X</button>
          </div>
          <div class="modal-body">
            Направихте заявка на името на <span th:text="${childName}"></span> за дата <span th:text="${date}"></span>.
          </div>
          <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-secondary"
                    onclick=" closeModal()"
            >
              Затвори
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div th:if="${successDelete} != null" class="custom-modal">
      <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel1">
              Успешно изтрихте заявка!
            </h1>
            <button
                    type="button"
                    class="btn-close"
                    onclick=" closeModal()"
            >X</button>
          </div>
          <div class="modal-body">
            Изтрихте заявка на името на <span th:text="${childName}"></span> за дата <span th:text="${date}"></span> .
          </div>
          <div class="modal-footer">
            <button
                    type="button"
                    class="btn btn-secondary"
                    onclick=" closeModal()"
            >
              Затвори
            </button>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/js/toggleFunctions.js}"></script>
    <script th:src="@{/js/search.js}"></script>
  </body>
</html>
