<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h3 class="add-menu-title">Добави меню</h3>

      <section class="weekly-menu">
        <div class="menu-ctn shadow-ctn">
          <form th:object="${addMenuBindingModel}" th:method="POST" th:action="@{/admin/add-menu}">

            <label for="add-menu-date">Избери дата</label>
            <input type="date" id="add-menu-date" name="date" th:field="${addMenuBindingModel.date}"/>
            <div th:if="${#fields.hasErrors('date')}" th:class="error">Моля въведете валидна дата!</div>


            <label for="add-menu-age-group">Избери възрастова група</label>
            <select name="ageGroup" id="add-menu-age-group" onchange="fillFoods()">
              <option value="" selected>Избери възрасотва група</option>
              <option value="МАЛКИ" >10 МЕСЕЦА - 1 ГОДИНА</option>
              <option value="ГОЛЕМИ">1 ГОДИНА - 3 ГОДИНИ</option>
            </select>
            <div th:if="${#fields.hasErrors('ageGroup')}" th:class="error">Моля въведете възрастова група!</div>

            <label for="soups"> Избери супа </label>
            <select name="soup" id="soups">

            </select>

            <label for="main-food"> Избери основно </label>
            <select name="main" id="main-food">

            </select>

            <label for="dessert-food"> Избери десерт </label>
            <select name="dessert" id="dessert-food">

            </select>

            <button class="main-btn">Добави</button>

          </form>
        </div>

        <div class="success shadow-ctn menu-ctn" th:if="${addedNewMenu}!=null">
          <p>Успешно добавихте меню!</p>
          <div class="menu-body">
            <div>Меню за <span th:text='${newMenu.dayOfWeek}'></span>  <span th:text='${newMenu.date}'>05.10.2023</span></div>
            <div>
              Супа: <span th:text="${newMenu.soup.name}">СУПА ОТ КАРТОФИ И МОРКОВИ</span>
            </div>
            <div>
              Основно: <span th:text="${newMenu.main.name}">СУПА ОТ КАРТОФИ И МОРКОВИ</span>
            </div>
            <div>
              Десерт: <span th:text="${newMenu.dessert.name}">СУПА ОТ КАРТОФИ И МОРКОВИ</span>
            </div>
          </div>
        </div>

        <div class="shadow-ctn menu-ctn edit-menu" th:if="${isExistingMenu}!=null">
          <p>За тази дата вече съществува меню в системата!</p>
          <p>Меню за
            <span th:text="${existingMenu.dayOfWeek}"></span>
            <span th:text="${existingMenu.date}">28.08.2023</span>
          <p th:text="${existingMenu.soup.name}"></p>
          <p th:text="${existingMenu.main.name}"></p>
          <p th:text="${existingMenu.dessert.name}"></p>
          </p>

          <form th:method="PATCH" th:action="@{/admin/add-menu}">
            <div id="daily-menu-ctn">


              <label for="add-menu-age-group">Избери възрастова група</label>
              <select name="ageGroup" id="edit-menu-age-group" onchange="fillEditForm()">
                <option value="" selected>Избери възрасотва група</option>
                <option th:text="${existingMenu.ageGroupName}" th:value="${existingMenu.ageGroupName}"></option>
<!--                <option value="МАЛКИ" >10 МЕСЕЦА - 1 ГОДИНА</option>-->
<!--                <option value="ГОЛЕМИ">1 ГОДИНА - 3 ГОДИНИ</option>-->
              </select>

              <input type="hidden" th:value="${date}" name="date">

              <label for="first-food-edit"> Избери супа </label>
              <select name="soup" id="first-food-edit" >
                <option value=""></option>
                <option value="">Избери храна</option>
              </select>

              <label for="main-food-edit"> Избери основно </label>
              <select name="main" id="main-food-edit">

              </select>

              <label for="dessert-food-edit"> Избери десерт </label>
              <select name="dessert" id="dessert-food-edit">

              </select>

            </div>
            <button type="submit" class="main-btn">Редактирай</button>
          </form>
        </div>
      </section>


    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
    <script th:src="@{/js/fillFoods.js}"></script>
  </body>
</html>
