<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/custom-head::custom-head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h2>Добре дошъл, администратор!</h2>
      <section class="admin-panel">
        <div class="actions shadow-ctn">
          <h4>Екшън панел</h4>
          <ul role="list">
            <li class="action">
              <button class="main-btn"><a th:href="@{/admin/add-menu}">Добави или редактирай седмично меню</a></button>
            </li>
            <li class="action">
              <button class="main-btn"><a th:href="@{/admin/view-menu-by-date}">Виж меню за дата</a></button>
            </li>
              <li class="action">
                  <button class="main-btn"><a th:href="@{/admin/add-recipe}">Добави рецепта</a></button>
              </li>
            <li class="action"><button class="main-btn"><a th:href="@{/admin/add-delete-order}">Добави заявка</a></button></li>
            <li class="action"><button class="main-btn"><a th:href="@{/admin/add-delete-order}">Изтрий заявка</a></button></li>
             <li class="action"><button class="main-btn"><a th:href="@{/admin/edit-user}">Редактирай потребител</a></button></li>

          </ul>
        </div>

        <article class="requests shadow-ctn">
        
            <h4>СПРАВКИ</h4>

           <div class="wrapper">
                <div class="request shadow-ctn">
                    <h3>Заявки по пунктове и по възраст</h3>
                    <form th:action="@{/admin}" th:method="POST">
                        <label for="date-from" >Избери дата от:</label>
                        <input type="date" id="date-from" name="fromDate"/>

                        <label for="date-to">Избери дата до:</label>
                        <input type="date" id="date-to" name="toDate" />

                        <label for="points">Избери пункт:</label>
                        <select name="servicePoint" id="points" >
                            <option value="All">Всички</option>
                            <option th:each="p : ${points}" th:value="*{p}" th:text="*{p}">Детска кухня</option>
                        </select>

                        <label for="ageGroup">Избери възрастова група</label>
                        <select name="ageGroup" id="searchedAgeGroup">
                            <option value="МАЛКИ" selected>10 МЕСЕЦА - 1 ГОДИНА</option>
                            <option value="ГОЛЕМИ">1 ГОДИНА - 3 ГОДИНИ</option>
                            <option value="All" id = "allOpt">ВСИЧКИ</option>
                        </select>

                        <div th:if="${errorMsg != null}" th:class="error" th:text="${errorMsg}">Грешка при въвеждане</div>

                        <button type="submit" class="main-btn">Покажи</button>
                    </form>

                </div>

                <div class="allergicKids shadow-ctn">
                    <h3>Списък на алергичните деца</h3>
                    <table class="allergic-table">
                        <thead>
                            <th>Име на детето</th>
                            <th>Обслужващ пункт</th>
                            <th>Възрастова група</th>
                            <th>Алергия към:</th>
                        </thead>
                        <tbody>
                            <tr th:each="k : ${allergicKids}">
                                <td id="allergicKidName" th:text="*{k.fullName}">Петко Иванов</td>
                                <td id="allergicPoint" th:text="*{k.servicePoint}">ДЯ Мир</td>
                                <td id="allergicAgeGroup" th:text="*{k.ageGroup.name()}">1 ГОДИНА - 3 ГОДИНИ</td>
                                <td id="allergicList" th:text="*{k.allergies}">Глутен</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
           </div>
        </article>

        <article class="requests shadow-ctn" id="reference">
          <h4>ИНФОРМАЦИЯ ЗА НАПРАВЕНИ ЗАЯВКИ</h4>
    
            <div class="info-from-db">
              <table class="one-punct shadow-ctn">
                  <thead>
                      <th>от дата</th>
                      <th>до дата</th>
                      <th>възрастова група</th>
                      <th>пункт</th>
                      <th>брой заявки</th>
                      <th>в т.ч. алергични</th>
                  </thead>
                  <tbody>
                     <tr th:each="o : ${referenceByPointsViewModelList}">
                      <td id="fromDate" th:text="*{o.fromDate}">28.08.2023</td>
                      <td id="toDate" th:text="*{o.toDate}">28.08.2023</td>
                      <td id="ageGroup" th:text="*{o.ageGroup}">10 МЕСЕЦА - 1 ГОДИНА</td>
                      <td id="offer-point" th:text="*{o.point}">ДЯ Дружба</td>
                      <td id="countOrders" th:text="*{o.countOrders}">240</td>
                      <td id="countAllergicOrders" th:text="*{o.countAllergicOrders}"></td>
                     </tr>

                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <th>Общо: </th>
                      <th id="totalCountOnePunct" th:text="${totalCountOrders}">420</th>
                      <td></td>
                  </tr>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <th>В т.ч алергични: </th>
                      <td></td>
                      <th id="totalCountAllergicOnePunct" ><span th:text="${totalCountAllOrders}"></span>
                          <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                              Виж
                          </button>
                      </th>
                  </tr>
                  </tbody>
              </table>
  
              <table class="all-puncts shadow-ctn" >
                  <thead>
                      <th>Пункт</th>
                      <th>10 МЕСЕЦА - 1 ГОДИНА</th>
                      <th>1 ГОДИНА - 3 ГОДИНИ</th>
                      <th>В Т.Ч. АЛЕРГИЧНИ</th>
                  </thead>
                  <tbody>
                      <tr th:each="o : ${referenceAllPointsViewModelList}">
                          <td id="all-points" th:text="*{o.servicePoint}">Детска кухня</td>
                          <td id="all-count-small" th:text="*{o.smallOrderCount}">120</td>
                          <td id="all-count-big" th:text="*{o.bigOrderCount}">90</td>
                          <td id="all-count-allergic" th:text="*{o.allergicChildren.size()}"></td>
                      </tr>

                      <tr>
                          <th>Общо: </th>
                          <th id="totalCountSmallAll" th:text="${smallSum} ? ${smallSum} : '0'">174</th>
                          <th id="totalCountBigAll" th:text="${bigSum} ? ${bigSum} : '0'">147</th>
                          <th id="totalCountAllergicAll" > <span th:text="${allergicSum} ? ${allergicSum} : '0'"></span>
                              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                                  Виж
                              </button>
                          </th>
                      </tr>
                  </tbody>
              </table>
            </div>
           
        </article>
         
      </section>


     <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Алергични деца</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="allergic-table">
                <thead>
                    <th>Име на детето</th>
                    <th>Обслужващ пункт</th>
                    <th>Възрастова група</th>
                    <th>Алергия към:</th>
                </thead>
                <tbody>
                <tr th:each="c : ${allergicChildren}">
                    <td id="allergic-name" th:text="*{c.fullName}">Петко Иванов</td>
                    <td id="allergic-punct" th:text="*{c.servicePoint}">ДЯ Мир</td>
                    <td id="allergic-age-group" th:text="*{c.ageGroup.name()}">1 ГОДИНА - 3 ГОДИНИ</td>
                    <td id="allergic-лист" th:text="*{c.allergies}">Глутен</td>
                </tr>
                </tbody>
            </table>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
            </div>
          </div>
        </div>
      </div>


        <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel2">Алергични деца</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table class="allergic-table">
                            <thead>
                            <th>Име на детето</th>
                            <th>Обслужващ пункт</th>
                            <th>Възрастова група</th>
                            <th>Алергия към:</th>
                            </thead>
                            <tbody>

                            <tr th:each="a : ${allergicChildViewModelList}">
                                <td id="allergic-name-all-points" th:text="*{a.fullName}">Петко Иванов</td>
                                <td id="allergic-point-all-points" th:text="*{a.servicePoint}">ДЯ Мир</td>
                                <td id="allergic-age-group-all-points" th:text="*{a.ageGroup.name()}">1 ГОДИНА - 3 ГОДИНИ</td>
                                <td id="allergic-list-all-points" th:text="*{a.allergies}">Глутен</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Затвори</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

  <script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
  crossorigin="anonymous"
></script>
    <script th:src="@{/js/toggleFunctions.js}"></script>
  </body>
</html>
