<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h3 class="add-menu-title">Виж меню</h3>

      <section class="see-menu">

        <div class="menu-ctn shadow-ctn">
          <form th:action="@{/admin/view-menu-by-date}" th:method="POST">
            <label for="choose-date">Избери дата</label>
            <input type="date" id="choose-date" name="date" />

            <label for="ageGroup">Избери възрастова група</label>
            <select name="ageGroup" id="ageGroup">
              <option value="МАЛКИ" selected>10 МЕСЕЦА - 1 ГОДИНА</option>
              <option value="ГОЛЕМИ">1 ГОДИНА - 3 ГОДИНИ</option>
            </select>

            <button type="submit" class="main-btn">ВИЖ</button>
          </form>
        </div>

         <div class="check-list shadow-ctn">

             <div class="food" th:object="${menuViewModel}" >
                <div><span th:text="*{dayOfWeek}"></span> <span th:text="*{date}"></span></div>

                 <input type="hidden" name="date" id="selected-date" th:value="*{localDate}">
                 <input type="hidden" name="ageGroup" th:value="*{ageGroupName}" >

                 <div>Супа: <span id="selected-soup" th:text="*{soup.name}" th:name="soup"></span></div>
                 <input type="hidden" name="soup" id="hidden-soup" th:value="*{soup.name}">

                 <div>Основно: <span id="selected-main" th:text="*{main.name}" th:name="main"> </span></div>
                 <input type="hidden" name="main" id="hidden-main" th:value="*{main.name}">

                 <div>Десерт: <span id="selected-dessert" th:text="*{dessert.name}" th:name="dessert"></span></div>
                 <input type="hidden" name="dessert" id="hidden-dessert" th:value="*{dessert.name}">
             </div>

            <button class="main-btn" th:if="${notFound} != null"><a th:href="@{/admin/add-menu}">Добави</a></button>

            <div id="no-available-menu" th:if="${notFound} != null">Няма въведено меню за тази дата!</div>
        </div>

      </section>


    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>

  </body>
</html>
