<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/custom-head::head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h2 id="welcome">Добре дошли в Е-Кухня!</h2>

      <section class="e-kitchen">
        <button class="main-btn show" onclick="toggleInstruction()">
          Виж указания за употреба
        </button>
        <div class="wrapper">
          <div class="instructions">
            <div class="instr-ctn">
              <h5>Указания за употреба</h5>
              <button class="main-btn" onclick="toggleInstruction()">
                Затвори
              </button>
            </div>
            <p>
              Страницата е направена с цел улесняване на родителите при направа
              на заявки, закупуване и заверка на купони.
              <br />
              На страницата можете да закупите виртуални купони, с които ще
              получавате храната на Вашето дете. Купоните имат тежестта на
              хартиените купони, които кухнята дава при закупуване на място т.е.
              вече не е нужно посещение на място за закупуването им.

              <br />
              Друга функционалност на страницата е, че можете директно тук да
              заверявате закупените от Вас купони.

              <br />
              <strong
                >ВАЖНО! Заверката важи като при хартиените купони - храната
                заявена днес, ще получите след 2 дни на избраният от Вас пункт, който можете да видите в <a
                        th:href="@{/users/profile}">Профила си</a>.
                Например купон заверен в Понеделник ви гарантира храна за
                сряда.
                <br>
                ВАЖНО! Нямате право да правите заявка за текущия или следващия ден!
                Валидна заявка е само заявка направена за след 2 дни!
              </strong
              >
              <br />
              В профилът си ще можете да следите наличните купони, направените
              заявки и пунктът, от който следва да получите храната. При заверка
              на купон за определен ден ще получите дневното меню, коeто можете
              да следните от секция "Седмично меню"
              <a th:href="@{/menus}">ТУК</a>.
              <br />
              <strong>
                ВАЖНО!!! Преди да извършите каквито и да било действия е
                необходимо да регистрирате детето/децата си в Профил секцията си
                <a th:href="@{/users/profile}">ТУК</a>.
              </strong>
            </p>
          </div>
        </div>

        <div class="functionality">
          <form th:action="@{/e-kitchen}" class="shadow-ctn" th:method="POST" th:object="${buyCouponsBindingModel}">
            <h5><b>Купи купони</b></h5>
            <label for="buy_coupons-child">За дете: </label>
            <select name="childName" id="buy_coupons-child">
              <option th:each="c : ${children}" th:value="${c.fullName}" th:text="${c.fullName}">Гошко</option>
            </select>

            <label for="coupon-age-group">Купон за възрастова група:</label>
            <select name="ageGroupName" id="coupon-age-group">
              <option value="МАЛКИ">10 МЕСЕЦА - 1 ГОДИНА</option>
              <option value="ГОЛЕМИ">1 ГОДИНА - 3 ГОДИНИ</option>
            </select>

            <div th:if="${noMatchAgeGroup} != null" class="error">Не може да закупувате купони за възрастова група, различна от тази на детето! </div>

            <div class="coupons-wrapper">
              <label for="buy_coupons-count">Брой купони: </label>
              <select name="countCoupons" id="buy_coupons-count" th:field="*{countCoupons}">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
              <label for="buy_coupons-price"><b>Обща цена:</b></label>
              <input type="text" name="price" id="buy_coupons-price"
                   th:value="*{countCoupons} == null ? '8,00 лв' : *{countCoupons}" />
            </div>
            <button type="submit" class="main-btn">Купи</button>
          </form>

          <form th:action="@{/e-kitchen}" th:method="PATCH" class="shadow-ctn" th:object="${verifyCouponBindingModel}">
            <h5><b>Завери купон</b></h5>

            <div class="error" th:if="${noMoreOrdersPerDay}!=null">Вече имате заверен купон за този ден! Нямате право да правите повече от една заявка на ден през системата! Моля обърнете се към Детска кухня <a th:href="@{/contacts}">на контактите показани тук</a></div>

            <label for="confirm_coupons-child">За дете: </label>
            <select name="childName" id="confirm_coupons-child">
              <option th:each="c : ${children}" th:value="${c.fullName}" th:text="${c.fullName}">Гошко</option>
            </select>

            <label for="confirm_coupons-date">За дата: </label>
            <input type="date" name="verifyDate" id="confirm_coupons-date" th:field="*{verifyDate}" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>

            <div th:if="${#fields.hasErrors('verifyDate')}" class="error">Нямате право да правите заявки през уикенда, или по-малко от 2 дни предварително! </div>

            <button type="submit" id="verifyCouponBtn" class="main-btn large">
              Завери купон
            </button>
          </form>
        </div>
      </section>

      <!-- Modal -->
      <div th:if="${success} != null" class="custom-modal">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel1">
                Успешно закупихте купони!
              </h1>
              <button
                      type="button"
                      class="btn-close"
                      onclick=" closeModal()"
              >X</button>
            </div>
            <div class="modal-body">
              Закупихте <span th:text="${countCoupons}"></span> купона за <span th:text="${kidName}"></span>:

            </div>
            <div class="modal-footer">
              <button
                      type="button"
                      class="btn btn-secondary"
                      onclick=" closeModal()"
              >
                Затвори
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div th:if="${successVerify} != null" class="custom-modal">
        <div class="modal-dialog modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel2">
                Успешно заверихте купон!
              </h1>
              <button
                      type="button"
                      class="btn-close"
                      onclick=" closeModal()"
              >X</button>
            </div>
            <div class="modal-body">
              Заверихте купон за <span th:text="${kidName}"></span> за дата <span th:text="${date}"></span> :

            </div>
            <div class="modal-footer">
              <button
                      type="button"
                      class="btn btn-secondary"
                      onclick=" closeModal()"
              >
                Затвори
              </button>
            </div>
          </div>
        </div>
      </div>

    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
    <script th:src="@{/js/calculatePrice.js}"></script>

  </body>
</html>
