<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/custom-head::head}">
  </head>
  <body id="e-kitchen">
    <header th:replace="~{fragments/e-nav::e-nav}">
    </header>

    <main>
      <h2 id="welcome">Добре дошли в Е-Кухня!</h2>

      <section class="e-kitchen">
        <button class="main-btn show" onclick="toggleInstruction()">
          Виж указания за употреба
        </button>
        <div class="wrapper">
          <div class="instructions">
            <div class="instr-ctn">
              <h5>Указания за употреба</h5>
              <button class="main-btn" onclick="toggleInstruction()">
                Затвори
              </button>
            </div>
            <p>
              Страницата е направена с цел улесняване на родителите при направа
              на заявки, закупуване и заверка на купони.
              <br />
              На страницата можете да закупите виртуални купони, с които ще
              получавате храната на Вашето дете. Купоните имат тежестта на
              хартиените купони, които кухнята дава при закупуване на място т.е.
              вече не е нужно посещение на място за закупуването им.

              <br />
              Друга функционалност на страницата е, че можете директно тук да
              заверявате закупените от Вас купони.

              <br />
              <strong
                >ВАЖНО! Заверката важи като при хартиените купони - храната
                заявена днес, ще получите след 2 дни на избраният от Вас пункт.
                Например купон заверен в Понеделник ви гарантира храна за
                сряда.</strong
              >
              <br />
              В профилът си ще можете да следите наличните купони, направените
              заявки и пунктът, от който следва да получите храната. При заверка
              на купон за определен ден ще получите дневното меню, коeто можете
              да следните от секция "Седмично меню"
              <a th:href="@{/menus}">ТУК</a>.
              <br />
              <strong>
                ВАЖНО!!! Преди да извършите каквито и да било действия е
                необходимо да регистрирате детето/децата си в Профил секцията си
                <a th:href="@{/users/profile}">ТУК</a>.
              </strong>
            </p>
          </div>
        </div>

        <div class="functionality">
          <form th:action="@{/e-kitchen}" class="shadow-ctn" th:method="POST" th:object="${buyCouponsBindingModel}">
            <h5><b>Купи купони</b></h5>
            <label for="buy_coupons-child">За дете: </label>
            <select name="childName" id="buy_coupons-child">
              <option th:each="c : ${children}" th:value="${c.fullName}" th:text="${c.fullName}">Гошко</option>
            </select>

            <label for="coupon-age-group">Купон за възрастова група:</label>
            <select name="ageGroupName" id="coupon-age-group" >
              <option th:each="age : ${ageGroups}" th:value="${age.name()}" th:text="${age.name()}"></option>
            </select>

            <div class="coupons-wrapper">
              <label for="buy_coupons-count">Брой купони: </label>
              <select name="countCoupons" id="buy_coupons-count" th:field="*{countCoupons}">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
              <label for="buy_coupons-price"><b>Обща цена:</b></label>
              <input type="text" name="price" id="buy_coupons-price"
                   th:value="*{countCoupons} == null ? '8,00 лв' : *{countCoupons}" />
            </div>
            <button type="submit" class="main-btn">Купи</button>
          </form>

          <form th:action="@{/e-kitchen}" th:method="PATCH" class="shadow-ctn" th:object="${verifyCouponBindingModel}">
            <h5><b>Завери купон</b></h5>
            <label for="confirm_coupons-child">За дете: </label>
            <select name="childName" id="confirm_coupons-child">
              <option th:each="c : ${children}" th:value="${c.fullName}" th:text="${c.fullName}">Гошко</option>
            </select>

            <label for="confirm_coupons-date">За дата: </label>
            <input type="date" name="verifyDate" id="confirm_coupons-date" th:field="*{verifyDate}" data-bs-toggle="modal" data-bs-target="#staticBackdrop"/>

            <div th:if="${#fields.hasErrors('verifyDate')}" class="error">Нямате право да правите заявки през уикенда, или по-малко от 2 дни предварително! </div>

            <button type="submit" id="verifyCouponBtn" class="main-btn large">
              Завери купон
            </button>
          </form>
        </div>
      </section>

    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
    <script th:src="@{/js/calculatePrice.js}"></script>

  </body>
</html>
