<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body>
    <header th:replace="~{fragments/main-nav::main-nav}">
    </header>

    <main class="healthy">
      <h2>Препоръки за правилно и пълноценно захранване на децата</h2>
      <p class="healthy-main-info shadow-ctn">
        Захранването на вашето дете следва да започне не по-рано от 4ти месец и
        не по-късно от 6ти месец. Първите храни, които са препоръчителни са
        млечно-зеленчуково пюре или млечна каша. Те трябва да са
        еднокомпонентни, т.е. да съдържат един вид зеленчук или зърнена култура
        напр. картофeно пюре или оризова каша с добавено мляко.
        <br />
        Пюрето може да е от: картофи, тиквички, тиква, морков, пащърнак,
        карфиол, броколи и др. в зависимост от сезона.
        <br />
        <legend>Захранването се съчетава с продължаващо кърмене.</legend>
      </p>

      <ul class="shadow-ctn">
        <li class="item">
          <h4 class="item-title">Плодове</h4>
          <p class="item-content">
            Включват се от- 5-6ти месец.
            <legend>
              Предлагат се сварени, на пюрета, пасирани, настъргани.
            </legend>
          </p>
        </li>
        <li class="item">
          <h4 class="item-title">Зърнени храни</h4>
          <p class="item-content">
            Включват се от 6ти месец.
            <br />
            В тази група спадат: oриз, овесени ядки, амарант, киноа. Картофите
            спадат в това число, но се включват и по-рано. Захранване с храни
            съдържащи глутен - сухар, макарони, кус-кус. Оризът също е подходящ
            за една от първите захранващи храни.
          </p>
        </li>
        <li class="item">
          <h4 class="item-title">Яйца</h4>
          <p class="item-content">
            Жълтък - включва се след навършена 6 месечна възраст. След
            захранване със зеленчуковото пюре, към него да се добавя четвърт
            твърдо сварен жълтък. На 9 месечна възраст количеството се увеличава
            на половин жълтък дневно.
            <legend>
              Белтъкът на яйцето се включва след 1 година, поради риск от
              алергии.
            </legend>
          </p>
        </li>
        <li class="item">
          <h4 class="item-title">Месо</h4>
          <p class="item-content">
            Предлага се през ден до навършване на 1 година като се редува със
            зеленчуково пюре с жълтък. Към зеленчуковото пюре се добавят 8-12 g
            месо през ден между 6-ти и 9-ти месец, а впоследствие по 18 g през
            ден. В диетата на кърмачето месото се въвежда като добавка към
            зеленчуковото пюре към 7 месечна възраст и се консумира ежедневно на
            обяд.
            <br />
            <legend>
              Подходящи са пилешко(най-добре филе), пуешко, заешко, телешко и
              нетлъстото агнешко месо. След 8 месечна възраст,<strong>
                поне веднъж седмично, следва да се консумира риба</strong
              >, която е богата на Омега 3 МК.
            </legend>
          </p>
        </li>
        <li class="item">
          <h4 class="item-title">Млечни продукти</h4>
          <p class="item-content">
            Краве кисело мляко – 3.6 % - Добавя се като компонент към десерти,
            ястия, застройка на супи – от 9ти месец.
            <legend>
              <ul class="milk-items">
                <li class="milk-item">
                  Извара - обезсолена през 7-8ми месец – като компонент към
                  ястия и десерти
                </li>
                <li class="milk-item">
                  Сирене – обезсолено, изкиснато – 7-8ми месец - като компонент
                  към ястия и десерти
                </li>
              </ul>
            </legend>
          </p>
        </li>
        <li class="item">
          <h4 class="item-title">Бобови храни</h4>
          <p class="item-content">
            Включват се от от 9 -10 месец.
            <br />
            <ul class="items">
                <li class="item">Боб</li>
                <li class="item">Леща</li>
                <li class="item">Нахут</li>
                <li class="item">Соя</li>
                <li class="item">Грах</li>
              </ul>
            <legend>
               <strong>
                Новата храна временно се спира, ако детето отказва да я приеме или
                при поява на храносмилателни разстройства. Детето не трябва да се
                насилва да я изяде! След няколко дни храната се предлага отново.
               </strong>
            </legend>
          </p>
        </li>
      </ul>
    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
  </body>
</html>
