<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body>
    <header th:replace="~{fragments/main-nav::main-nav}">
    </header>

    <main class="reg-main">
      <section class="reg-section">
        <div class="img-ctn">
          <img th:src="@{/images/backgrounds/hero.jpg}" alt="hero.jpg" />
        </div>

<!--        <div th:if="${#fields.hasErrors()}" class="error">Невалиден имеил или парола! Моля опитайте пак!</div>-->

        <form th:method="POST" th:action="@{/users/login}" >
          <label for="login-email">Email</label>
          <input
            type="email"
            placeholder="Въведете e-mail"
            name="email"
            id="login-email"
          />

         
          <label for="login-pass">Парола</label>
          <input
            type="password"
            placeholder="Въведете парола"
            name="password"
            id="login-pass"
            min="4"
          />


          <button type="submit" id="register-btn" class="main-btn">Влез в профил</button>
        </form>
      </section>
    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
  </body>
</html>