<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragments/main-nav::clean-head}">
  </head>
  <body class="menu-body">
    <header th:replace="~{fragments/main-nav::main-nav}">
    </header>

    <main >
      <div class="menu-info">
        <p><strong>ВНИМАНИЕ:</strong> Детска кухня си запазва правото на промени в менюто при необходимост!</p>
        <p><strong>ВНИМАНИЕ:</strong> Менютата за алергичните деца се изготвят индивидуално и не се показват в системата!</p>
        <p><strong>ВНИМАНИЕ:</strong> Супите за малките деца са със застройка от жълтък, не с цяло яйце!</p>
      </div>

      <div class="menu-main">
      <section class="kids">
            <h3>10 МЕСЕЦА - 1 ГОДИНА</h3>
            <ul role="list" class="shadow-ctn">
                    <li th:each="small : ${smallWeeklyMenu}">
                        <div class="food">
                            <div class="date"><span th:text="*{small.dayOfWeek}"></span>
                                <span th:text="*{small.date}">24.07.2023 г.</span>
                            </div>
                            <div>Супа:
                                <span th:text="*{small.soup.name}">СУПА С ПУЕШКО МЕСО</span>
                                <br>
                                <div class="allergens">Алергени:
                                    <span id="small-soup-allergens" th:text="*{small.soup.allergens} == ''? 'няма' : *{small.soup.allergens}"></span>
                                </div>
                            </div>
                            <div>Основно:
                                <span th:text="*{small.main.name}">ЗЕЛЕНЧУКОВО ПЮРЕ С ИЗВАРА</span>
                                <br>
                                <div class="allergens">Алергени:
                                    <span id="main-allergens" th:text="*{small.main.allergens} == ''? 'няма' : *{small.main.allergens}"></span>
                                </div>
                            </div>
                            <div>Десерт:
                                <span th:text="*{small.dessert.name}">КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span>
                                <br>
                                <div class="allergens">Алергени:
                                    <span id="small-dessert-allergens" th:text="*{small.dessert.allergens} == ''? 'няма' : *{small.dessert.allergens}"></span>
                                </div>
                            </div>
                        </div>
                    </li>
            </ul>
      </section>

      <section class="kids">
        <h3>1 ГОДИНА - 3 ГОДИНИ</h3>
        <ul role="list" class="shadow-ctn">
            <li th:each="big : ${bigWeeklyMenu}">
                <div class="food">
                    <div class="date"><span th:text="*{big.dayOfWeek}"></span>
                        <span th:text="*{big.date}">24.07.2023 г.</span>
                    </div>
                    <div>Супа:
                        <span th:text="*{big.soup.name}">СУПА С ПУЕШКО МЕСО</span>
                        <br>
                        <div class="allergens">Алергени:
                            <span id="big-soup-allergens" th:text="*{big.soup.allergens} == ''? 'няма' : *{big.soup.allergens}"></span>
                        </div>
                    </div>
                    <div>Основно:
                        <span th:text="*{big.main.name}">ЗЕЛЕНЧУКОВО ПЮРЕ С ИЗВАРА</span>
                        <br>
                        <div class="allergens">Алергени:
                            <span id="big-main-allergens" th:text="*{big.main.allergens} == ''? 'няма' : *{big.main.allergens}"></span>
                        </div>
                    </div>
                    <div>Десерт:
                        <span th:text="*{big.dessert.name}">КИСЕЛ ОТ ПРАСКОВИ С ПРЕХОДНО МЛЯКО</span>
                        <br>
                        <div class="allergens">Алергени:
                            <span id="big-dessert-allergens" th:text="*{big.dessert.allergens} == ''? 'няма' : *{big.dessert.allergens}"></span>
                        </div>
                    </div>
                </div>
            </li>

        </ul>
     </section>

    </div>
    </main>

    <script th:src="@{/js/toggleFunctions.js}"></script>
  </body>
</html>
